* {
  font-family:'Inter', sans-serif;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background: linear-gradient(180deg, #040968 0%, #0E15A7 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  font-size: 1.8rem;
  padding: 1rem;
  border: none;
  border-radius: 1rem;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: background-color 0.15s ease, box-shadow 0.15s ease, transform 0.15s ease;
}

button:active {
  box-shadow: none;
  transform: translate(0.25rem, 0.25rem);
}

.container {  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.score-box {
  font-size: 5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 1rem;
  height: 50rem;
  width: 50rem;
  background: #C0FEC2;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.5);
}

.score-text {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  text-align: center;
}

.buttons-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.header {
  font-size: 1.8rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-shrink: 0;
  height: 5rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  background: linear-gradient(180deg, #0FAA26, #11D12E);
}

#geoButton {
  background: linear-gradient(180deg, #0FAA26, #11D12E);
}

#geoButton:hover {
  background: linear-gradient(180deg, #09961E, #14C42E);
}