@{
    ViewData["Title"] = "Options";
}

@section Styles {
    <link rel="stylesheet" href="~/css/Options.css">
}

@section Scripts {
    <script src="~/js/Options.js" defer></script>
}

<div class="container">
    <p class="option-text">Select Your Options</p>
    <button id="catButton" class="option-trigger option-button">Category</button>
    <button id="difButton" class="option-trigger option-button">Difficulty</button>
    <div class="bottom-row">
        <button id="playButton" disabled style="opacity: 0.5; pointer-events: none;">Play</button>
        <button id="homeButton" onclick="location.href='@Url.Action("Landing", "Game")'" role="link">Home</button>
    </div>
</div>

<div id="catModal" class="modal">
    <div class="modal-content">
        <div class="options">
            <button id="geoButton" class="option">Geography</button>
            <button id="hisButton" class="option">History</button>
            <button id="artButton" class="option">The Arts</button>
            <button id="entButton" class="option">Entertainment</button>
            <button id="spoButton" class="option">Sports</button>
            <button id="sciButton" class="option">Science</button>
        </div>
    </div>
</div>

<div id="difModal" class="modal">
    <div id="difficultyBox" class="modal-content">
        <div class="dif-options">
            <button id="easyButton" class="option">Easy</button>
            <button id="medButton" class="option">Medium</button>
            <button id="hardButton" class="option">Hard</button>
        </div>
    </div>
</div>